@using Kutuphane.Utility;
@model List<Book>

@if (TempData["succses"] != null)
{
    <div id="successMessage" class="alert alert-dismissible alert-success">
        <strong>Well done! </strong>@TempData["succses"]
    </div>
}

<script>
    setTimeout(function () {
        document.getElementById("successMessage").style.display = "none";
    }, 2000);
</script>

<div class="container">
    <div class="row pt-3 pb-4">
        <div>
            <h1>Book</h1>
        </div>

    </div>

    <table>
        <thead>
            <tr>
                <th style="text-align: center; vertical-align: middle;">Cover</th>
                <th style="text-align: center; vertical-align: middle;">Book</th>
                <th style="text-align: center; vertical-align: middle;">Genre</th>
                <th style="text-align: center; vertical-align: middle;">Description</th>
                <th style="text-align: center; vertical-align: middle;">Author</th>
                <th style="text-align: center; vertical-align: middle;">Price</th>
            </tr>
        </thead>

        <tbody>
            @foreach (var _book in Model)
            {
                <tr class="@(Model.IndexOf(_book) % 2 == 0 ? "even-row" : "odd-row")">
                    <td>
                        @if (!String.IsNullOrEmpty(_book.imageUrl))
                        {
                            <img src="@_book.imageUrl" width="250" />
                        }
                    </td>
                    <td style="text-align: center; vertical-align: middle;">@_book.Title</td>
                    <td style="text-align: center; vertical-align: middle;">@_book.bookType.type</td>
                    <td style="text-align: center; vertical-align: middle;">@_book.Description</td>
                    <td style="text-align: center; vertical-align: middle;">@_book.Author</td>
                    <td style="text-align: center; vertical-align: middle;">@_book.price</td>
                    @if (User.IsInRole(UserRoles.Role_Admin))
                    {
                        <td><a asp-controller="Book" asp-action="AddOrEdit" asp-route-ID="@_book.ID" type="button" class="btn btn-info custom-btn" style="width:70px; height: 33.5px; text-align: center; vertical-align: middle;">Edit</a></td>
                        <td><a asp-controller="Book" asp-action="Delete" asp-route-ID="@_book.ID" type="button" class="btn btn-danger custom-btn" style="width:70px; height: 33.5px; text-align: center; vertical-align: middle;">Delete</a></td>
                    }
                </tr>
                <tr style="height: 20px;"></tr>
            }
        </tbody>
    </table>

    <div class="row pt-3 pb-2">
        @if (User.IsInRole(UserRoles.Role_Admin))
        {
            <div>
                <a asp-controller="Book" asp-action="AddOrEdit" class="btn btn-light type" type="button">Add Book</a>
            </div>
        }
    </div>
</div>

<style>
    .even-row {
        background-color: #303030;
    }

    .custom-btn {
        display: block;
        width: 100%;
    }

    .odd-row {
        background-color: #444444;
    }

</style>
